<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Forum de CocoCat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>

<body>

<h1>Bienvenue sur le forum de CocoCatDev !</h1>

<form action="/post" method="post">
    <label for="pseudo">Pseudo</label>
    <input type="text" id="pseudo" name="pseudo" required>

    <label for="sujet">Sujet de discussion</label>
    <input type="text" id="sujet" name="sujet" required>

    <label for="message">Poste ton (beau) message !</label>
    <textarea id="message" name="message" rows="5" required></textarea>

    <button type="submit">Envoyer</button>
</form>

<!-- IMPORTANT : on laisse vide, le JS va remplir -->
<div id="conteneur-message"></div>

</body>
</html>
