<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Forum de CocoCat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js')  }}" defer></script>
</head>

<body>

<h1>Bienvenue sur le forum de CocoCatDev !</h1>

<form action="/post" method="post">
    <label for="pseudo">Pseudo</label>
    <input type="text" id="pseudo" name="pseudo" required>

    <label for="message">Poste ton message !</label>
    <textarea id="message" name="message" rows="5" required></textarea>

    <button type="submit">Envoyer</button>
</form>
<div id="conteneur-message">
{% for id, pseudo, message, date, likes in messages %}
<div class="message">
    <p><strong>{{ pseudo }}</strong></p>
    <p>{{ message }}</p>
    <p>{{ date }}</p>

    <form action="/like" method="post">
        <input type="hidden" name="id" value="{{ id }}">
        <button type="submit"><span class="likeButton">{{ likes }}</span> ❤️</button>
    </form>
</div>
{% endfor %}
</div>

</body>
</html>
